@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

html {

}


body {
    font-family: 'Inter',sans-serif;
    height:100%;
    max-width: 1440px;
    margin:auto;
    padding: 2rem;
}

/* Main header menu */


.main-header{
    display: flex;
    justify-content: space-between;
        align-items: center;
    height: 4rem;
    margin-bottom: 2rem;
}

.main-menu {
    font-size: 16px;
}

.main-menu__items {
    display: flex;
    list-style: none;
}

.main-menu__item {
    margin: 0 12px;
}

.main-menu__item a {
    text-decoration: none;
    color: hsl(236, 13%, 42%);
}

.main-menu__item a:hover {
    color:hsl(35, 77%, 62%);
}

/* Main Section */

.main-section-container {
    display: grid;
    grid-template-columns: 500px auto 350px ;
    grid-template-rows: auto auto auto;
    height: 100%;
    grid-column-gap: 25px;
}


.main-image {
  height: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / span 2;
}

.main-image img {
    width:100% ;
}


.news-items {
    background: hsl(240, 100%, 5%);
    color: hsl(36, 100%, 99%);
    padding: 0 16px;
    grid-column-start: 3;
    grid-row: 1 / span 2;
    height: 100%;
    
}

.news-items h1 {
    color: hsl(35, 77%, 62%);
}

.news-item a  {
    font-weight: 700;
    text-decoration: none;
    color: hsl(36, 100%, 99%);
}

.news-item {
 border-bottom:  1px solid hsl(233, 8%, 79%) ;
 padding-bottom: 20px;
}

.main-title {
    font-weight: 800;
    font-size: 42px;
    text-align: left;
    grid-column: 1 ;
}

.article {
    grid-column: 2;
    margin: 20px auto;
}