@import url('./assets/fonts/Inter-VariableFont_slnt\,wght.ttf');

html {
    background: #FEFDF9;
}


body {
    font-family: 'Inter',sans-serif;
    height:100%;
    max-width: 1440px;
    margin:auto;
    padding: 1rem;
}

/* Mobile Version */

.main-header {
    display: flex;
    justify-content: space-between;
    height: 2rem;
    padding-bottom: 1.5rem;
}

.main-header img {
    width: auto;
}

.main-menu {
    /* display:none; */
    transform: translateX(100%);
    position: fixed;
    z-index: 100;
    margin: auto;
    top: 0;
    right: 0;
    background: white;
    width: 70%;
    height: 100vh;
    transition: transform 600ms ease-out;
}

.main-menu__items {
    width: 90%;
    height: 100%;
    list-style: none;
    text-decoration: none;
    margin-top: 6rem;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    gap: 2rem;
    padding-top: 3rem;
}


.open {
    display: block !important;
    opacity: 1 !important;
    transform: translateX(0) !important;
}

.toggle-button {
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
}

.close-button {
/* display: none; */
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: transparent;
    border: 0;
}


.main-image {
    background-image: url("./assets/images/image-web-3-mobile.jpg");
    height: 20rem;
}
.main-title {
    font-size: 11vw;
}

.main-section-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}







@media (min-width:700px) {
/* 
   

    .main-header img{
       width: auto;
    }

    .main-menu {
        display: none;
    }


    .main-image{
        background-image: url("./assets/images/image-web-3-mobile.jpg");
        height: 20rem;
    }

    .section {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        flex-flow: row nowrap;
        gap: 20px;
    }

    .section-image{
        height: 50vw;
    }

    .toggle-button{
        display: block;
    }

    .close-button{
        display: block;
    }

       
  .main-menu {
      transform: translateX(-100%);
      position: fixed;
      z-index: 100;
      margin: auto;
      top: 0;
      right: 0;
      background: white;
      width: 70%;
      height: 100vh;
      transition: transform 600ms ease-out;
  }

  .main-menu__items {
      width: 90%;
      height: 100%;
      list-style: none;
      text-decoration: none;
      margin-top: 6rem;
      padding-left: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: left;
      gap: 2rem;
      padding-top: 3rem;
  } */

  /* Desktop Version */


.main-header {
    display: flex;
    justify-content: space-between;
    height: 4rem;
    margin-bottom: 2rem;
}

.main-menu {
    font-size: 16px;
}


.main-menu__item a {
    text-decoration: none;
    color: hsl(236, 13%, 42%);
}

.main-menu__item a:hover {
    color: hsl(35, 77%, 62%);
}

.toggle-button {
    display: none;
}

.toggle-button__bar {
    width: 100%;
    height: 0.2rem;
    background: black;
    display: block;
    margin: 0.3rem 0;
}

.toggle-button:focus {
    outline: none;
}


.main-section-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr auto auto;
    height: 100%;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
}


.main-image {
    background-image: url("./assets/images/image-web-3-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / span 2;
}

.main-image img {
    width: 100%;
}


.news-items {
    background: hsl(240, 100%, 5%);
    color: hsl(36, 100%, 99%);
    padding: 0 16px;
    grid-column-start: 3;
    grid-row: 1 / span 2;
    height: 100%;

}

.news-items h1 {
    color: hsl(35, 77%, 62%);
}

.news-item a {
    font-weight: 700;
    text-decoration: none;
    color: hsl(36, 100%, 99%);
}

.news-item {
    border-bottom: 1px solid hsl(233, 8%, 79%);
    padding-bottom: 20px;
}

.main-title {
    font-weight: 800;
    font-size: 3.5vw;
    line-height: 1;
    grid-column: 1;
}

.news-item.last-child {
    border-bottom: 0;
}

.news-item a:hover {
    color: hsl(35, 77%, 62%);
}

.article {
    color: hsl(236, 13%, 42%);
    display: flex;
    flex-direction: column;
    grid-column: 2;
    justify-content: space-between;
}

.article p {
    margin: 0 0 40px 0;
}

.button-read-more button {
    border: 0;
    background: hsl(5, 85%, 63%);
    color: white;
    font: inherit;
    font-weight: 700;
    letter-spacing: 3px;
    padding: 20px 40px;
}

.button-read-more button:hover {
    background: hsl(240, 100%, 5%);
}

.button-read-more {
    justify-content: end;
}

.bottom-news {
    grid-column: 1 / span 2;
}


.section {
    margin-top: 40px;
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
}

.section-image {
    flex: 1;
    background-size: cover;
    height: 100%;
}

.section-text {
    flex: 2;
}

.section-text h1 {
    margin: 0;
}

.section-text h2 a {
    color: inherit;
    text-decoration: none;
}

.section-text h2 a:hover {
    color: hsl(5, 85%, 63%);
}


footer {
    margin: 2rem 0;
    grid-column: 1 / span 2;
    align-items: center;

}
}